// Logo
#logo {
  font-size: 2rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
}

// Main-nav
#main-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;

  ul {
    display: flex;
  }

  li {
    padding: 1rem 1.5rem;
  }

  a {
    text-transform: uppercase;
    color: #fff;
    border-bottom: 3px solid transparent;
    padding-bottom: 0.5rem;
    @include transColor;

    &:hover {
      border-color: $medium-color;
    }

    &.current-page {
      border-color: $primary-color;
    }
  }
}
