.container {
  max-width: $website-width;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 1.5rem;
}

.lead {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.small-lead {
  font-size: 1.3rem;
}

.text-center {
  text-align: center;
}

// Buttons
%btn-shared {
  display: inline-block;
  padding: 0.7rem 1.4rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  @include transColor;
}

.btn {
  &-primary {
    @extend %btn-shared;
    color: $dark-color;
    background: $primary-color;
  }

  &-light {
    @extend %btn-shared;
    color: $dark-color;
    background: $light-color;
  }

  &-dark {
    @extend %btn-shared;
    color: $light-color;
    background-color: $dark-color;
  }
}

button[class^="btn-"]:hover,
a[class^="btn-"]:hover,
input[class^="btn-"]:hover {
  background: $primary-color;
}

// Paddings
.py {
  &-1 {
    padding: 1rem 0;
  }
  &-2 {
    padding: 2rem 0;
  }
  &-3 {
    padding: 3rem 0;
  }
  &-4 {
    padding: 4rem 0;
  }
}

// Margins
.my {
  &-1 {
    margin: 1rem 0;
  }
  &-2 {
    margin: 2rem 0;
  }
  &-3 {
    margin: 3rem 0;
  }
  &-4 {
    margin: 4rem 0;
  }
}

.bottom-line {
  display: block !important;
  height: 2px;
  width: 3rem;
  background: $primary-color;
  margin: 0 auto 1rem;
}

.section-title {
  font-size: 2rem;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
  font-weight: 100;
  text-align: center;
}

// Backgrounds
.bg {
  &-primary {
    background: $primary-color;
    color: set-text-color($primary-color);
  }

  &-dark {
    background: $dark-color;
    color: set-text-color($dark-color);
  }

  &-light {
    background: $light-color;
    color: set-text-color($light-color);
  }

  &-medium {
    background: $medium-color;
    color: set-text-color($medium-color);
  }
}

.target_link {
  color: $primary-color;
  @include transColor;

  &:hover {
    text-decoration: underline;
  }
}
